<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="sidebar">
        <img src="../../../assets/logo.jpeg"  class="logo" alt="logo.jpeg">
        <div class="example-button-row">
            <button mat-flat-button class="boton">Datos personales</button>
            <button mat-flat-button class="boton">Materias</button>
            <button mat-flat-button class="boton">Mapa de la institucion</button>
            <button mat-flat-button class="boton">Credencial</button>
            <button mat-flat-button class="boton">Inicio</button>
            <button mat-flat-button class="botonCerrarSesion">Cerrar Sesión</button>
        </div>
    </mat-drawer>
  </mat-drawer-container>
  