<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened class="sidebar">
        <img src="../../../assets/logo.jpeg"  class="logo" alt="logo.jpeg">
        <div class="example-button-row">
            <button mat-flat-button style="display: none;" class="boton" (click)="irDatosPersonales()">Datos personales</button>
            <button mat-flat-button class="boton" (click)="irAlumnos()">Usuarios</button>
            <button mat-flat-button class="boton" (click)="irMaterias()">Materias</button>
            <button mat-flat-button class="boton" (click)="irGrupos()">Grupos</button>
            <button mat-flat-button class="boton" (click)="irMapa()">Mapa de la institucion</button>
            <button mat-flat-button class="boton" (click)="irCredencial()">Credencial</button>
            <button mat-flat-button class="boton" (click)="irBienvenida()">Inicio</button>
            <button mat-flat-button class="botonCerrarSesion" (click)="irInicioSesion()">Cerrar Sesión</button>
        </div>
    </mat-drawer>
  </mat-drawer-container>
  