<mat-card class="example-card" appearance="outlined">

    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" class="miniatura">
    <mat-card-content>
      <p>
        El Shiba Inu es el más pequeño de las seis razas originales y distintas de perros spitz de Japón.
        Un perro pequeño y ágil que se adapta muy bien al terreno montañoso, el Shiba Inu fue originalmente
        criado para la caza.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="boton" style="color: black;"> Ver más</button>
    </mat-card-actions>
  </mat-card>
  