<div>
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar Estudiante</mat-label>
    <mat-select
      [(value)]="selectedEstudianteID"
      (selectionChange)="onEstudianteChange()"
    >
      <mat-option *ngFor="let estudiante of estudiantes" [value]="estudiante.id">
        {{ estudiante.nombre }} {{ estudiante.apellidoPaterno }} {{ estudiante.apellidoMaterno }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Gráfica -->
<div style="width: 80%; margin: 0 auto; margin-top: 20px">
  <canvas id="myChart"></canvas>
</div>

<!-- Componente Reporte -->
<app-reportePDF [estudianteId]="selectedEstudianteID ?? 0"></app-reportePDF>


