<mat-card class="tarjetaPrincipal">
<mat-grid-list cols="2">
    <mat-grid-tile class="logoContenedor">
        <img src="../../../assets/logo.png" class="logo" alt="logo.jpeg">
    </mat-grid-tile>
    
    <mat-grid-tile >
        <div class="formularioContenedor">
            <form class="example-form">
              <mat-form-field class="example-full-width">
                <mat-label >Usuario</mat-label>
                <input matInput id="usernameInput" maxlength="256" placeholder="Ejemplo Roronoa...">
                <mat-hint align="start"><strong>No compartas tu usuario</strong></mat-hint>
              </mat-form-field>
        
              <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput id="passwordInput" placeholder="Ejemplo *****..." [type]="hide() ? 'password' : 'text'">
                <mat-hint align="start"><strong>No compartas tu contraseña</strong></mat-hint>
              </mat-form-field>
        
              <section class="example-button-row">
                <button mat-flat-button (click)="iniciarSesion()" class="botonIS">Iniciar sesión</button>
              </section>
            </form>
          </div>
    
    </mat-grid-tile>
</mat-grid-list>
</mat-card>
  