.tarjetaPrincipal {
 
 
  background-color: white;
  width: 800px; /* Aumentamos el ancho para permitir espacio para ambas secciones */
  min-height: 300px;
  margin: 50px auto;
  border-radius: 10px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 360px;
  height: 120px;
  border-radius: 10px;
  border-color: black;
  border-bottom: black, 10px;
}
.logoContenedor{
  background-color: #ffa528;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.formularioContenedor {
  width: 60%; /* El formulario ocupará el 60% del espacio */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 60%; /* El formulario ocupará el 60% del espacio de la tarjeta */
}

.example-form {
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row {
  display: flex;
  justify-content: flex-start;
}

.example-button-row .mat-mdc-button-base {
  margin-top: 10px;
  width: 100%; /* Asegura que el botón de login ocupe todo el ancho */
}

mat-form-field {
  margin-bottom: 15px;
  width: 100%;
}

h1, strong {
  color: #333;
}
.botonIS{
  forced-color-adjust: #e6e6e6;
  background-color: #e6e6e6;
  border-radius: 1px;
  width: 150px;
}
