<div class="main-layout"> <!-- inicial -->
    <div class="sidebar"> <!-- sidebar -->
      <app-toolbar></app-toolbar>
    </div> <!-- cierre sidebar -->
  
    <div class="content"> <!-- contenido -->
      <h1> Usuarios</h1>
        <div class="matrioshka">
          <app-tablas-usuarios></app-tablas-usuarios>
        <div>
          <app-modal-alumnos></app-modal-alumnos>
        </div>
        </div>
    </div> <!-- cierre contenido -->
  </div> <!-- cierre inicial -->
  
  <footer class="footer">
    <p>Esta pagina fue hecha por el equipo 4</p>
  </footer>
  