<div class="main-layout"> <!-- inicial -->
  <div class="sidebar"> <!-- sidebar -->
    <app-toolbar></app-toolbar>
  </div> <!-- cierre sidebar -->

  <div class="content"> <!-- contenido -->
    <mat-grid-list cols="3" rowHeight="500px" class="gridNews"> <!-- Grid con 3 columnas -->
      <mat-grid-tile>
        <app-card class="news-card"></app-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-card class="news-card"></app-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-card class="news-card"></app-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div> <!-- cierre contenido -->
</div> <!-- cierre inicial -->

<footer class="footer">
  <p>Esta pagina fue hecha por el equipo 4</p>
</footer>
