<h2 mat-dialog-title>Revise bien cada campo</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Nombre/s</mat-label>
    <input matInput  />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido Paterno</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Apellido Materno</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Matricula</mat-label>
    <input matInput  />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-hint>¡Los errores aparecen!</mat-hint>
    @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
      <mat-error>Introduce un email valido</mat-error>
    }
    @if (emailFormControl.hasError('required')) {
      <mat-error>Email es <strong>requerido</strong></mat-error>
    }
  </mat-form-field>
  <mat-form-field>
    <mat-label>Contraseña</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Semestre</mat-label>
    <input matInput  />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="animal()" cdkFocusInitial>Registrar</button>
</mat-dialog-actions>