
/* Estructura de las columnas y filas */
.main-row {
  display: flex;
  width: 100%; /* Asegura que ocupe todo el espacio disponible */
  gap: 20px;
}

/* Columna izquierda (Información General) */
.col-general {
  flex: 0 0 60%; /* Ancho aumentado al 60% */
  display: flex;
  flex-direction: column;
}

.col-info {
  flex: 0 0 35%; /* Ancho reducido para ajustarse al nuevo tamaño de la columna izquierda */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Tarjetas */
.card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  height: auto;
}

.card-header {
  background-color: #f0f0f8;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
  font-size: 1.2rem;
}

/* Imagen de perfil */
.profile-img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 20px;
}

/* Ajuste general */
body {
  background-color: #e6e6e6;
}

.content {
  flex-grow: 1; /* Ocupa todo el espacio restante después de la barra lateral */
  padding: 20px;
  background-color: #e6e6e6;
  margin: 50px;
  border-radius: 5px;
}
/* LO NUEVO */
.main-layout {
    display: flex;
    height: 100vh; /* Mantén el layout al 100% del alto de la pantalla */
  }
  
  .sidebar {
    width: 200px; /* Fija el ancho de la barra lateral */
    background-color: #ffa528;
  }
  
  .content {
    flex-grow: 1; /* Ocupa todo el espacio restante después de la barra lateral */
    padding: 20px;
    background-color: #e6e6e6;
    margin: 50px;
    border-radius: 5px;
  }
  
  
  
  .footer {
    text-align: center;
    padding: 10px;
    background-color: #e6e6e6;
  }
  