
<div style="background-color: white;">
  <h2 mat-dialog-title style="color: black;">Confirmar Eliminación</h2>
<mat-dialog-content style="color: black;">¿Estás seguro de que deseas eliminar a este usuario?</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onConfirm()" style="background-color: #ffa528; border-radius: 5px; color: black; margin: 20px;">Confirmar</button>
  <button mat-button (click)="onCancel()" style="background-color: #289bff; border-radius: 5px; color:black; margin: 20px;">Cancelar</button>
</mat-dialog-actions>
</div>