.tablaFondo{
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tabla{
    background-color: white;
}
.texto{
    color: black;
}
.mat-mdc-header-row{
    background-color: #e6e6e6;
    font-size: 18px;
}
.botonS{
    background-color: #ffa528;
    border-radius: 5px;
    color:black;
    margin: 20px;
}
.botonB{
    background-color: red;
    border-radius: 5px;
    color:black;
    margin: 20px;
}
.mat-mdc-form-field-focus-overlay{
    background-color: #ffa528;
}
.mat-mdc-input-element mat-mdc-form-field-input-control mdc-text-field__input cdk-text-field-autofill-monitored{
    background-color: #ffa528;
}
.mat-mdc-form-field-flex{
    background-color: #ffa528;
}
.mat-mdc-form-field mat-mdc-form-field-type-mat-input mat-form-field-appearance-fill mat-primary ng-tns-c508571215-1 mat-form-field-hide-placeholder{
    background-color: #ffa528;
}
.mat-mdc-text-field-wrapper mdc-text-field mdc-text-field--filled{
    background-color: #ffa528;
}
.mat-mdc-paginator{
    background-color: #e6e6e6;
    color: black;
}
.mat-mdc-paginator-page-size{
    color: black;
}
.mat-mdc-paginator-touch-target{
    color: black;
}
.mat-mdc-select-trigger{
    color: black;
}
.mat-mdc-select ng-tns-c1711764913-8{
    color: black;
}
.mat-mdc-select-placeholder{
    color: black;
}
/* Estiliza el mat-select dentro del paginador */
mat-paginator .mat-select {
    background-color: #f5f5f5; /* Fondo del select */
    color: #333; /* Color del texto */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  mat-paginator .mat-select:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el cursor */
  }
  
  mat-paginator .mat-select .mat-select-arrow {
    color: #555; /* Cambia el color de la flecha */
  }
  
  /* Estiliza las opciones del select */
  mat-paginator .mat-select-panel .mat-option {
    background-color: #ffffff; /* Fondo de las opciones */
    color: #333; /* Color del texto de las opciones */
  }
  
  mat-paginator .mat-select-panel .mat-option:hover {
    background-color: #e0e0e0; /* Fondo de opción al pasar el cursor */
  }
  ::ng-deep mat-paginator .mat-select {
    background-color: #f5f5f5;
    color: #333;
  }