<mat-tab-group style="color: black;">
    <mat-tab>
      <ng-template mat-tab-label style="background-color: orange;">
        <span class="custom-tab-label">Estudiantes</span>
    </ng-template> 
      <app-tabla-estudiantes></app-tabla-estudiantes>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="custom-tab-label">Profesores</span>
    </ng-template>  
     <app-tabla-profesores></app-tabla-profesores>
    </mat-tab>
    <mat-tab> 
      <ng-template mat-tab-label>
        <span class="custom-tab-label">Secretarias</span>
    </ng-template> 
      <app-tabla-administrativos></app-tabla-administrativos>
    </mat-tab>

  </mat-tab-group>