<div>
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar Grupo</mat-label>
    <mat-select [(value)]="selectedGrupoId" (selectionChange)="cargarEstudiantesPorGrupo()">
      <mat-option *ngFor="let grupo of grupos" [value]="grupo.id">
        {{ grupo.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="estudiantes.length > 0">
  <mat-form-field appearance="fill">
    <mat-label>Seleccionar Alumno</mat-label>
    <mat-select [(value)]="selectedEstudianteId" (selectionChange)="cargarCalificaciones()">
      <mat-option *ngFor="let estudiante of estudiantes" [value]="estudiante.id">
        {{ estudiante.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="calificaciones.length > 0">
  <h4>Calificaciones</h4>
  <table>
    <tr>
      <th>Materia</th>
      <th>Calificación Final</th>
    </tr>
    <tr *ngFor="let cal of calificaciones">
      <td>{{ cal.materia }}</td>
      <td>{{ cal.evaluacion_final }}</td>
    </tr>
  </table>
</div>
